{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="row">

      <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >

     <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >
     <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >
     <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >
     <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >
     <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href ="#">
          <div class = "thumbnail tvshow-card" >
            <div class="poster-container">
                <img class = "tvshow-poster" src = "{% static 'images/test.jpeg' %}" alt = "tvshow-image" >
            </div>
            <div class = "caption" >
              <h4 class = "tvshow-title" >Titlu (2018)</h4 >
            </div >
          </div >
        </a >
      </div >
</div>
{% endblock %}
